<div>
  <h1 id="title" class="mc-title text3d">{{title}}</h1>
</div>
<div class="mc-page">
  <h2 class="mc-text">Connexion</h2>
  <input
    [(ngModel)]="pseudo"
    type="text"
    pattern = "[a-zA-Z0-9_]{3,}"
    title = "Votre pseudonyme doit comporter au moins 3 caractères et ne peut contenir que des lettres, chiffres et le caractère underscore."
    placeholder="Entrez votre pseudonyme Minecraft"
    required
  />
  <p>resultat demande de connexion</p>
  <button class="mc-text mc-button" (click)="onValid()">Valider</button>
</div>