div {
    margin: auto auto;
    text-align: center;
}

#mc-page {
    max-width: 800px;
    width: 70%;
}

#title-container {
    width: 100%;
    max-width: 100%;
}

.mc-input {
    width: 70%;
}

.mc-button {
    min-width: 200px;
    width: 45%;
    max-width: 400px;
}

h1 {
    font-size: 6vw;
    margin-bottom: 12px;
    width: 100%;
}

h2 {
    font-size: 3vw;
}