#listPlayers {
    background-color: black;
    color: white;
    border: 3px solid;
    border-color: #999999;
    font-size: 20px;
    margin: auto auto;
}
  
.tdPseudo {
    text-align: left;
}
  
.tdStatut {
    text-align: right;
}
  
.inputTdStatutOff {
    background-image: url(https://cdn.glitch.com/92f5f52c-c4ae-45d2-a31e-6069c591615c%2FOffline.png?v=1595324782255);
    background-size: 20px 15px;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    border: none;
}
  
.inputTdStatutOn {
    background-image: url(https://cdn.glitch.com/92f5f52c-c4ae-45d2-a31e-6069c591615c%2Fonline.png?v=1601404024214);
    background-size: 20px 15px;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    border: none;
}