<div id="onglets">
  <ul>
    <li [class.active]="item==='run'" (click)="item='run'">
      <p> Start/Stop </p>
    </li>
    <li [class.active]="item==='configuration'" (click)="item='configuration'">
      <p> Configuration </p>
    </li>
    <li [class.active]="item==='cmd'" (click)="item='cmd'">
      <p> Commandes </p>
    </li>
    <li [class.active]="item==='access'" (click)="item='access'">
      <p> Accès </p>
    </li>
    <li routerLink="/">
      <p> Retour </p>
    </li>
  </ul>
</div>
<div class="mc-page">
  <div [ngSwitch]="item">
    <app-launch-server    *ngSwitchCase="'run'">          </app-launch-server>
    <app-configure-server *ngSwitchCase="'configuration'"></app-configure-server>
    <app-cmd-sender       *ngSwitchCase="'cmd'">          </app-cmd-sender>
    <app-manage-access    *ngSwitchCase="'access'">       </app-manage-access>
    <app-configure-server *ngSwitchDefault>               </app-configure-server>
  </div>
</div>