@media all and (orientation: portrait) {
  #mainGui {
    width: 90%;
    height : 90%;
    margin : auto auto;
    padding-bottom: 30px;
  }
}

@media all and (orientation: landscape) {
  #mainGui {
    width: 70%;
    height : 90%;
    margin : auto auto;
    max-width: 900px;
    margin-top: 70px;
  }
}

button {
  width: 350px;
}

.invisible_text {
  color: transparent;
}