<div id = "mainGui" class = "mcGui mediumText">
    <div class="centering">
        <a routerLink="/accueil"><button class = "mcButton VA spacer">Retour</button></a>
        <a routerLink="/manage/rcon"><button class = "mcButton VA spacer">CMD</button></a>
        <a routerLink="/manage/launch"><button class = "mcButton VA spacer">Launch</button></a>
        <a routerLink="/manage/configure"><button class = "mcButton VA spacer">Configure</button></a>
        <a routerLink="/manage/access"><button class = "mcButton VA spacer">Accès</button></a>
        <h2 class = "mcText VA spacer">
          Gestion du serveur :
        </h2>
        
    </div>
  </div>