<div>
    <div>
        <h3 class="mc-text">Autorisation des joueurs :</h3>
    </div>
    <div>
        <table class="mc-array">
            <thead>
                <tr>
                    <th class="mc-text" colspan="2" rowspan = "2" >Liste des Joueurs</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="mc-text" colspan = "2">----------------------------</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>