@import './minecraft.css';

* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

body {
  /*background-image: url(https://cdn.glitch.com/92f5f52c-c4ae-45d2-a31e-6069c591615c%2F2020-08-08_16.57.58.png?v=1596898855508);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;*/
  background: cyan;
  overflow: scroll;
}

/*https://perishablepress.com/3d-text-shadow-css3/*/
.text3d {
  color: #666666;
  text-shadow:
      0 2px  1px #bbbbbb,
      0 3px  0 #aaaaaa, 
      0 4px  0 #999999,
      0 5px  0 #909090,
      0 6px  0 #888888,
      0 7px  0 #7f7f7f, 
      0 8px  0 #777777, 
      0 9px  0 #6e6e6e, 
      0 10px 0 #666666, 
      0 12px 0 #5d5d5d, 
      0 12px 0 #555555, 
      0 14px 0 #4c4c4c, 
      0 14px 0 #444444, 
      0 16px 0 #3b3b3b,
      0 16px 0 #333333, 
      0 18px 7px #302314;
}

