<div>
    <div>
        <h3>Informations du serveur :</h3>
    </div>
    <div>
        <table>
            <tbody>
                <tr>
                    <td>Adresse Ip du serveur :</td>
                    <td>
                        <input type = "text" placeholder = "***.***.***.***"/>
                    </td>
                </tr>
                <tr>
                    <td>Port du serveur : </td>
                    <td><input type = "number" placeholder = "*****" min="0" max="65535"/></td>
                </tr>
                <tr>
                    <td>Port pour le protocol Rcon :</td>
                    <td><input type = "number" placeholder = "*****" min="0" max="65535"/></td>
                </tr>
                <tr>
                    <td>Port pour le protocol Query : </td>
                    <td><input type = "number" placeholder = "*****" min="0" max="65535"/></td>
                </tr>
                <tr>
                    <td>Port pour l'application distante : </td>
                    <td><input type = "number" placeholder = "*****" min="0" max="65535"/></td>
                </tr>
                <tr>
                    <td colspan = "2"><button type="submit">Valider</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>