input[type="text"], input[type="number"] {
    width: 219px;
    padding: 10px;
    font-size: 25px;
    overflow: hidden;
}

button {
    width: 350px;
}

div {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: flex-start;
    padding: 0;
}